.codCliente {
  width: 40%;
  color: white;
  padding-left: 15px;
  background-color: gray;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.nomCliente {
  width: 40%;
  color: white;
  padding-left: 15px;
  background-color: gray;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.rutCliente {
  width: 40%;
  color: white;
  padding-left: 15px;
  background-color: gray;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.edadCliente {
  width: 40%;
  color: white;
  padding-left: 15px;
  background-color: gray;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.emailCliente {
  width: 40%;
  color: white;
  padding-left: 15px;
  background-color: gray;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.codCliente [type="number"] {
  width: 40%;
  background-color: yellow;
  font-size: 15px;
  text-align: center;
  margin-left: 130px;
  border-radius: 10px;
}

.nomCliente input[type="text"] {
  width: 40%;
  background-color: yellow;
  font-size: 15px;
  text-align: center;
  margin-left: 130px;
  border-radius: 10px;
}

.rutCliente input[type="text"] {
  width: 40%;
  background-color: yellow;
  font-size: 15px;
  text-align: center;
  margin-left: 160px;
  border-radius: 10px;
}

.edadCliente input[type="text"] {
  width: 40%;
  background-color: yellow;
  font-size: 15px;
  text-align: center;
  margin-left: 115px;
  border-radius: 10px;
}

.emailCliente input[type="email"] {
  width: 40%;
  background-color: yellow;
  font-size: 15px;
  text-align: center;
  margin-left: 25px;
  border-radius: 10px;
}

button {
  margin-top: 2%;
  font-size: 35px;
  font-weight: bold;
  border-radius: 10px;
  border: 5px double green;
  color: white;
  background-color: yellowgreen;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  padding: 1%;
}
